canvas { width: 100%; height: 100% }
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a,
img {
    display: block;
}
img {
    border: 0;
}
img:not([src]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
h2 {
    font-family: 'Russo One', sans-serif;
}
h3 {
    font-family: 'Kanit', sans-serif;
}
p {
    font-family: 'Montserrat';
}
.warp-heading {
    text-align: center;
    padding-bottom: 40px;
}
.warp-heading h2 {
    text-transform: capitalize;
}
section {
    padding-top: 6vh;
    margin-top: 6vh;
}
section:first-child {
    padding-top: inherit;
    margin-top: inherit;
}


#go-top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: none;
    background-color: #000000;
    color: #ffffff;
    padding: 1px 9px;
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
}
/*=================================== 
    about section custom style
=====================================*/
.about-featured {
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.about-featured img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.about-box .warp-heading {
    padding-top: 40px;
}
/*=================================== 
    skill section custom style
=====================================*/
.warp-progress label {
    text-transform: uppercase;
}
/*=================================== 
    what i do section custom style
=====================================*/
.what-we-do {
   text-align: center;
}
.what-we-do .icon {
   text-align: center;
    font-size: 35px;
}
.what-we-do p {
    text-align: justify;
}

/*=================================== 
    footer custom style
=====================================*/
footer {
    padding-top: 50px;
}
.footer-widget p {
    font-size: 13px;
}
.footer-widget p.brief {
    margin-top: 10px;
}
.footer-widget ul#social {
    text-decoration: none;
}
.footer-widget ul#social li {
    display: inline-block;
}
.footer-widget ul#social li a svg {
    font-size: 30px;
}
.copy-right {
    font-family: "Archivo Narrow";
    text-transform: uppercase;
    font-size: 12px;
}

:root {
    --mainColor: #ff9800;
}
.footer-widget address a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: #000;
    text-decoration: none;
}
.footer-widget address a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

/*=================================== 
    nav bar
=====================================*/
.navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Montserrat';
    text-transform: uppercase;
}



  
/*=================================== 
    owl carousal custom style
=====================================*/
/* .owl-carousel .owl-item {
    width: 200px !important;
} */
