
canvas { width: 100%; height: 100% }
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a,
img {
    display: block;
}
img {
    border: 0;
}
img:not([src]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
h2 {
    font-family: 'Russo One', sans-serif;
}
h3 {
    font-family: 'Kanit', sans-serif;
}
p {
    font-family: 'Montserrat';
}
.warp-heading {
    text-align: center;
    padding-bottom: 40px;
}
.warp-heading h2 {
    text-transform: capitalize;
}
section {
    padding-top: 6vh;
    margin-top: 6vh;
}
section:first-child {
    padding-top: inherit;
    margin-top: inherit;
}


#go-top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: none;
    background-color: #000000;
    color: #ffffff;
    padding: 1px 9px;
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
}
/*=================================== 
    about section custom style
=====================================*/
.about-featured {
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.about-featured img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.about-box .warp-heading {
    padding-top: 40px;
}
/*=================================== 
    skill section custom style
=====================================*/
.warp-progress label {
    text-transform: uppercase;
}
/*=================================== 
    what i do section custom style
=====================================*/
.what-we-do {
   text-align: center;
}
.what-we-do .icon {
   text-align: center;
    font-size: 35px;
}
.what-we-do p {
    text-align: justify;
}

/*=================================== 
    footer custom style
=====================================*/
footer {
    padding-top: 50px;
}
.footer-widget p {
    font-size: 13px;
}
.footer-widget ul#social {
    text-decoration: none;
}
.footer-widget ul#social li {
    display: inline-block;
}
.footer-widget ul#social li a svg {
    font-size: 30px;
}

/*=================================== 
    owl carousal custom style
=====================================*/
/* .owl-carousel .owl-item {
    width: 200px !important;
} */